<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="7.1.1" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.TeamFoundation.VersionControl.Client" version="11.0.51106.2" targetFramework="net452" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net452" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net452" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net452" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net452" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net452" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net452" />
</packages>